@use "../abstracts" as *;

.portfolio-card:nth-child(1){
    grid-row: span 2;
    @include md{
        grid-row: span 1;
    }
}

.portfolio-card:nth-child(3), .portfolio-card:nth-child(7){
    grid-row: span 2;
    grid-column: span 2;
    @include md{
        grid-row: span 1;
        grid-column: span 1;
    }
}

.portfolio-card:nth-child(8){
    grid-column: span 2;
    @include md{
        grid-column: span 1;
    }
}

.portfolio-card > img {
    width: 100%;
    height: 100%;
}

.portfolio-card > div{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.portfolio-card > div{
    display: grid;
    place-items: end;
    width: 100%;
    height: 100%;
    opacity: 1;
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0000009E;

    overflow: hidden;
    opacity: 0;
}

.portfolio-card:hover > div{
    opacity: 1;
}

.portfolio-card > div > div{
    width: 100%;
    padding: 2rem;
    color: white;
    display: grid;
    grid-template-columns: 60% 10%;
    justify-content: space-between;
    gap: 1.5rem;
    text-align: left;

    @include sm{
        grid-template-columns: 80% 10%;
    }
}

.portfolio-card > div > div > h4{
    @include font(2.4rem, $inter-bold);
    line-height: 3rem;
}

.portfolio-card > div > div > p{
    color: $gray;
    line-height: 1.5rem;
}

.portfolio-card > div > div > img {
    margin: auto;
    grid-row: 1/3;
    grid-column: 2/3;
}

@include md{
    .portfolio-card{
        max-width: 55rem;
    }
    .portfolio-card:nth-child(n+6){
        display: none;
    }
}