$light-green: #B9F2A1;
$lighter-green: #B9F2A159;
$green: #659365;
$gray: #E8E8E8;
$dark-gray: #5D5A5A;


$inter-bold: 'inter-bold';
$inter-semibold: 'inter-semibold';
$inter-medium: 'inter-medium';
$inter-regula: 'inter-regula';