<div class="body-content">
    <div class="client">
        <h2>OUR CLIENTS</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Semper a interdum purus velit ullamcorper.</p>
        <img src="../../assets/icons/airnbn_ic.svg" alt="">
        <img src="../../assets/icons/github_ic.svg" alt="">
        <img src="../../assets/icons/spotify_ic.svg" alt="">
        <img src="../../assets/icons/husky_ic.svg" alt="">
    </div>
</div>
<div class="crafting">
    <div class="body-content">
        <h2>Crafting Digital Brilliance Explore Our Methodology</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Semper a inter</p>
        <div>
            <div><img src="../../assets/icons/play_ic.svg" alt=""></div>
        </div>
        <button>CONTACT US</button>
    </div>
</div>
<div class="body-content">
    <div class="service">
        <h2>Our Services</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Semper a interdum purus velit ullamcorper.</p>
        <div>
            <include
                src = "./components/service-card.html"
                locals = '{
                    "image": "seo_ic.svg",
                    "title": "SEO Consultancy",
                    "descript": "Lorem ipsum dolor sit amet consectetur. Semper a interdum purus velit ullamcorper. Lorem ipsum dolor sit"
                }'
            ></include>
            <include
                src = "./components/service-card.html"
                locals = '{
                    "image": "marketing_ic.svg",
                    "title": "Digital Marketing",
                    "descript": "Lorem ipsum dolor sit amet consectetur. Semper a interdum purus velit ullamcorper. Lorem ipsum dolor sit"
                }'
            ></include>
            <include
                src = "./components/service-card.html"
                locals = '{
                    "image": "content_ic.svg",
                    "title": "Content Writing",
                    "descript": "Lorem ipsum dolor sit amet consectetur. Semper a interdum purus velit ullamcorper. Lorem ipsum dolor sit"
                }'
            ></include>
        </div>
    </div>
</div>
<div class="plan">
    <div class="body-content">
        <h2>Choose Our Plan </h2>
        <p>Lorem ipsum dolor sit amet consectetur. Semper a interdum purus velit ullamcorper.</p>
        <div>
            <include
                src = './components/plan-card.html'
                locals = '{
                    "title": "Free",
                    "price": "0",
                    "contents": "[`1 user request`,`1 design account`,`Email support`,`10 deployment`]"
                }'
            ></include>
            <include
                src = './components/plan-card.html'
                locals = '{
                    "title": "Premium",
                    "price": "55",
                    "contents": "[`10 user request`,`3 design account`,`Email support`,`100 deployment`,`24/7 Support`, `Premium Support`]"
                }'
            ></include>
            <include
                src = './components/plan-card.html'
                locals = '{
                    "title": "Enterprise",
                    "price": "105",
                    "contents": "[`Unlimited user request`,`3 to 50 design account`,`Email support`,`Unlimited deployment`,`24/7 Support`,`Advanced security`]"
                }'
            ></include>
        </div>
    </div>
</div>
<div class="body-content">
    <div class="portfolio">
        <h2>Our Portfolio</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Semper a interdum purus velit ullamcorper.</p>
        <div>
            <include
                src = './components/portfolio-card.html'
                locals = '{
                    "image": "our4.png",
                    "title": "Website Dashboard Design ",
                    "descript": "Lorem ipsum dolor sit amet consectetur. Semper a interdum p"
                }'
            ></include>
            <include
                src = './components/portfolio-card.html'
                locals = '{
                    "image": "our5.png",
                    "title": "Website Dashboard Design ",
                    "descript": "Lorem ipsum dolor sit amet consectetur. Semper a interdum p"
                }'
            ></include>
            <include
                src = './components/portfolio-card.html'
                locals = '{
                    "image": "our6.png",
                    "title": "Website Dashboard Design ",
                    "descript": "Lorem ipsum dolor sit amet consectetur. Semper a interdum p"
                }'
            ></include>
            <include
                src = './components/portfolio-card.html'
                locals = '{
                    "image": "our7.png",
                    "title": "Website Dashboard Design ",
                    "descript": "Lorem ipsum dolor sit amet consectetur. Semper a interdum p"
                }'
            ></include>
            <include
                src = './components/portfolio-card.html'
                locals = '{
                    "image": "our8.png",
                    "title": "Website Dashboard Design ",
                    "descript": "Lorem ipsum dolor sit amet consectetur. Semper a interdum p"
                }'
            ></include>
            <include
                src = './components/portfolio-card.html'
                locals = '{
                    "image": "our1.png",
                    "title": "Website Dashboard Design ",
                    "descript": "Lorem ipsum dolor sit amet consectetur. Semper a interdum p"
                }'
            ></include>
            <include
                src = './components/portfolio-card.html'
                locals = '{
                    "image": "our2.png",
                    "title": "Website Dashboard Design ",
                    "descript": "Lorem ipsum dolor sit amet consectetur. Semper a interdum p"
                }'
            ></include>
            <include
                src = './components/portfolio-card.html'
                locals = '{
                    "image": "our3.png",
                    "title": "Website Dashboard Design ",
                    "descript": "Lorem ipsum dolor sit amet consectetur. Semper a interdum p"
                }'
            ></include>            
            <include
                src = './components/portfolio-card.html'
                locals = '{
                    "image": "our9.png",
                    "title": "Website Dashboard Design ",
                    "descript": "Lorem ipsum dolor sit amet consectetur. Semper a interdum p"
                }'
            ></include>
            <include
                src = './components/portfolio-card.html'
                locals = '{
                    "image": "our10.png",
                    "title": "Website Dashboard Design ",
                    "descript": "Lorem ipsum dolor sit amet consectetur. Semper a interdum p"
                }'
            ></include>
        </div>
    </div>
</div>
<div class="contact">
    <div class="body-content">
        <div class="information">
            <h1>Contact Us</h1>
            <div>
                <include
                    src="./components/contact-item.html"
                    locals = '{
                        "icon": "target_ic.svg",
                        "contact": "lorum ispym locationdado supuerm"
                    }'
                ></include>
                <include
                    src="./components/contact-item.html"
                    locals = '{
                        "icon": "mail_ic.svg",
                        "contact": "loreum.ispum@gmail,+.com"
                    }'
                ></include>
                <include
                    src="./components/contact-item.html"
                    locals = '{
                        "icon": "mobilephone_ic.svg",
                        "contact": "+98564155 54646"
                    }'
                ></include>
                <include
                    src="./components/contact-item.html"
                    locals = '{
                        "icon": "telephone_ic.svg",
                        "contact": "+98564155 54646"
                    }'
                ></include>
            </div>
        </div>
        <form class="form-input">
            <input type="text" placeholder="First name">
            <input type="text" placeholder="Last name">
            <input type="email" placeholder="Email">
            <textarea placeholder="Message"></textarea>
            <button type="reset">Contact US</button>
        </form>
    </div>
</div>