@use "../../abstracts/" as *;

.agency{
    display: grid;
    grid-template-columns: 55%;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 4rem;
    justify-content: space-between;
    padding-top: 3rem;
    text-align: start;

    @include md{
        grid-template-columns: 100%;
        text-align: center;
        justify-items: center;
    }
}

.agency h1 span{
    color: $light-green;
}

.agency p{
    @include font(1.4rem, $inter-regula, $gray);
}

.agency img{
    grid-column: 2/3;
    grid-row: 1/4;
    @include md{
        grid-column: inherit;
        grid-row: inherit;
    }
}

.agency > div {
    @include flex-element('', 1.5rem);
    flex-wrap: wrap;
    margin-bottom: 15rem;

    @include sm{
        flex-direction: column;
        justify-content: center;
    }

}

.agency button{
    width: 20rem;
    padding: 2rem 0;
}
.agency button:last-child{
    background: transparent;
    color: white;
}