@use '../../abstracts' as *;

.crafting{
    background-color: $lighter-green;
    padding: 3rem 0;
}

.crafting .body-content{
    display: grid;
    grid-template-columns: 40%, 55%;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap:0 3rem;
    justify-content: space-between;
    text-align: start;

    @include md{
        @include flex-element(center, 2rem);
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

.crafting h1{
    color: black;
    text-transform: capitalize;
}

.crafting p{
    font-size: 1.8rem;
}

.crafting .body-content>div{
    grid-column: 2/3;
    grid-row: 1/4;
    margin: 5rem 0;

    @include md{
        max-height: 40rem;
        grid-column: 1/2;
        grid-row: 1/4;
    }
    @include sm{
        max-height: 35rem;
    }
    @include xs{
        max-height: 25rem;
    }
    
}

.crafting .body-content > div > img {
    width: 100%;
    min-width: 30rem;
    max-width: 57rem;
    box-shadow: 0px 0px 20px 5px #00000052;
}

.crafting .body-content>div>div{
    width: 100%;
    height: 100%;
    
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #455A6459;
    background-image: url('../assets/icons/play_ic.svg');
    background-repeat: no-repeat;
    background-position: center;
    
    @include md{
        // height: calc(100%/2);
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
}

.crafting .body-content>div>div>img{
    display: none;
    visibility: hidden;
    width: 100%;
    height: 100%;

    @include md{
        display: block;
    }
}

.crafting button{
    padding: 2rem 3.4rem;
}