@forward 'agency.scss';
@forward 'client.scss';
@forward 'crafting.scss';
@forward 'service.scss';
.container{
    background-image: url("../assets/images/mobile_bg.png");
    text-align: center;
    background-repeat: no-repeat;
}

.body-content{
    padding: 2.5rem;
}