@use '../../abstracts' as *;

.plan{
    background-color: $lighter-green;
    padding: 3rem 0 8rem 0;
    
}

.plan > div {
    @include flex-element('', 2rem);
    flex-direction: column;
    align-items: center;
    position: relative;
}

.plan h1{
    color: black;
    text-transform: capitalize;
}

.plan > div > div{
    width: 100%;
    @include flex-element(center);
    align-items: center;
        
    flex-wrap: wrap;
    @include md{
        flex-direction: column;
        gap: 3rem;
    }
}
