@use '../../abstracts' as *;

.portfolio > div{
    @include flex-element(space-around, 2rem);
    flex-direction: column;
    padding: 3rem 0;
    @include md{
        padding: 3rem 2.5rem;
    }
}

.portfolio > div > div{
    width: 100%;
    max-height: 69rem;
    display: grid;
    grid-template-columns: repeat(6, calc(100%/6));
    grid-template-rows: repeat(3, calc(100%/3));
    justify-items: center;
    justify-content: center;
    margin: 4rem 0;

    @include md{
        max-height: fit-content;
        grid-template-columns: calc(100%);
        grid-template-rows: repeat(5, 23rem);
        gap: 2rem;
    }
}